div.intro {
  text-align: center;
  position: absolute;
  bottom: 40;
  top: 10rem;
  right: 0;
  left: 0;
  color: #00324d;
}

h2.font {
  font-weight: 700;
  font-size: 50px;
}

button.testsRemainingButton {
  background-color: lightblue; /* Green */
  border: none;
  color: #00324d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 1px 2px;
  cursor: pointer;
  padding: 12px 28px;
  border-radius: 4px;
  font-family: system-ui;
  font-weight: 500;
  right: 25%;
  position: relative;
  width: 100%;
}

input.termsBox {
  position: relative;
  top: 2px;
  right: 5px;
  font-size: 15px;
}

span.info {
  top: 3%;
  position: relative;
  color: red;
}

a.link {
  color: red;
}

p {
  color: grey;
}

img {
  position: absolute;
  top: 75%;
  bottom: 40;
  right: 0;
  left: 25%;
  mix-blend-mode: multiply;
}

button.loginButton {
  background-color: lightblue; /* Green */
  border: none;
  color: #00324d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 5px 2px;
  cursor: pointer;
  padding: 12px 15px;
  right: 25%;
  position: relative;
  border-radius: 4px;
  font-family: system-ui;
  font-weight: 500;
  width: 100%;
}

button.loginButton:hover {
  background-color: lightseagreen;
}
button.testsRemainingButton:hover {
  background-color: lightseagreen;
}

div.b1 {
  position: relative;
  top: 12%;
  left: 25%;
}

h2.message {
  text-align: center;
  top: 3vh;
  position: relative;
  font-family: sans-serif;
  font-size: 24px;
  color: #00324d;
  font-weight: 600;
}

div.inputBox {
  margin: auto;
  position: relative;
  left: 20%;
  right: 50%;
  top: 10%;
}

input.Input {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  right: 20%;
}

p.terms {
  font-size: 11px;
  color: black;
  text-align: center;
  position: relative;
  float: left;
}

label.Label {
  font-weight: 800;
  color: #00324d;
  position: relative;
  right: 20%;
  font-size: 15px;
}

div.container {
  margin: auto;
  padding: 20px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 450px;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px grey;
  height: 590px;
  overflow: hidden;
}

button.support {
  background-color: lightseagreen; /* Green */
  border: none;
  color: #00324d;
  text-decoration: none;
  font-size: 20px;
  text-align: justify;
  cursor: pointer;
  box-shadow: 1px 3px 2px 1px grey;
  padding: 1% 4% 1% 4%;
  margin-top: 49%;
  position: fixed;
  border-radius: 25px 25px 2px 2px;
  font-weight: 400;
  text-align: left;
  margin-left: 85%;
  font-weight: 500;
  bottom: 0%;
  height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.support:hover {
  background-color: lightskyblue;
}

i.icon {
  position: absolute;
  margin-left: 3px;
  float: left;
}

h1.heading {
  text-align: center;
  margin-top: 60px;
  position: relative;
  font-weight: 800;
  font-family: sans-serif;
  color: #00324d;
  font-size: 28px;
  margin-left: 5px;
}

img.image {
  position: fixed;
  top: 0.4%;
  left: 87%;
}

span.h1heading {
  color: lightseagreen;
}

p.placeholder {
  vertical-align: 20px;
  font-size: 28px;
  font-weight: 700;
  color: #00324d;
  align-items: center;
  justify-content: center;
  margin: 0 0 1em 0;
  float: left;
}

div.chatContainer {
}

input.loginInput {
  width: 600px;
  margin-left: 82px;
  color: #00324d;
  border-width: 2px;
}

input.loginInput:focus {
  background-color: #00324d;
  color: white;
}

div.termsContainer {
  position: fixed;
  color: Black;
  text-align: justify;
  padding: 10px 20px 20px 15px;
  background-color: rgba(225, 243, 255, 0.6);
  border-radius: 15px;
  bottom: 30px;
  left: 4%;
  right: 3%;
  font-size: 11px;
  overflow: hidden;
}
span.info {
  position: relative;
  font-weight: 900;
  text-align: center;
  font-size: 11px;
  top: 3px;
}

input.passwordInput {
  width: 600px;
  margin-left: 30px;
  color: #00324d;
  border-width: 2px;
}

input.passwordInput:focus {
  background-color: #00324d;
  color: white;
}
