div.intro {
  text-align: center;
  position: absolute;
  bottom: 40;
  top: 10rem;
  right: 0;
  left: 0;
  color: #00324d;
}

h2.font {
  font-weight: 700;
  font-size: 50px;
}

div.testsRemainingButton {
  position: absolute;
  bottom: 0;
  top: 10;
  right: 20;
  left: 0;
  font-size: 50px;
  right: 0;
  padding: 15px 15px;
  margin-left: 40;
}

img {
  position: absolute;
  top: 0rem;
  bottom: 40;
  right: 0;
  left: 10;
  mix-blend-mode: multiply;
}

div.loginButton {
  position: absolute;
  bottom: 0;
  top: 10;
  left: 20;
  font-size: 50px;
  right: 0;
  padding: 15px 15px;
  margin-right: 40;
  border-width: 3px;
}

div.textContainer {
  position: absolute;
  text-align: center;
  right: 20;
  left: 0;
  top: 18rem;
  margin: 30px auto;
  padding: 15px 15px 20px 30px;
}

div.container {
  position: relative;
  margin: 40px auto;
  padding: 520px 600px 200px 600px;
  width: 300px;
  background: whitesmoke;
  border-radius: 5px;
}



p.placeholder {
  vertical-align: 20px;
  font-size: 28px;
  font-weight: 700;
  color: #00324d;
  align-items: center;
  justify-content: center;
  margin: 0 0 1em 0;
  float: left;
}

input.loginInput {
  width: 600px;
  margin-left: 82px;
  color: #00324d;
  border-width: 2px;
}

input.loginInput:focus {
  background-color: #00324d;
  color: white;
}

input.passwordInput {
  width: 600px;
  margin-left: 30px;
  color: #00324d;
  border-width: 2px;
}

input.passwordInput:focus {
  background-color: #00324d;
  color: white;
}

button {
  background-color: #00283d;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 3px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: darkblue;
  padding: 20px 20px 20px;
  transition: 0.9s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02),
    opacity 0.4s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  background-color: #f7c2f9;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02),
    opacity 0.4s;
  transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
}
