div.intro {
  text-align: center;
  position: absolute;
  bottom: 40;
  top: 10rem;
  right: 0;
  left: 0;
  color: #00324d;
}

h2.font {
  font-weight: 700;
  font-size: 50px;
}

button.testsRemainingButton {
  background-color: lightblue; /* Green */
  border: none;
  color: #00324d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 1px 2px;
  cursor: pointer;
  padding: 12px 28px;
  border-radius: 4px;
  font-family: system-ui;
  font-weight: 500;

  right: 25%;
  position: relative;
  width: 100%;
}

img {
  position: absolute;
  top: 75%;
  bottom: 40;
  right: 0;
  left: 25%;
  mix-blend-mode: multiply;
}

button.loginButton {
  background-color: lightblue; /* Green */
  border: none;
  color: #00324d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 5px 2px;
  cursor: pointer;
  padding: 12px 15px;
  right: 25%;
  position: relative;
  border-radius: 4px;
  font-family: system-ui;
  font-weight: 500;
  width: 100%;
}

button.loginButton:hover {
  background-color: lightseagreen;
}
button.testsRemainingButton:hover {
  background-color: lightseagreen;
}

div.b1 {
  position: relative;
  top: 12%;
  left: 25%;
}

h2.message {
  text-align: center;
  top: 3vh;
  position: relative;
  font-family: sans-serif;
  font-size: 24px;
  color: #00324d;
  font-weight: 600;
}

div.inputBox {
  margin: auto;
  position: relative;
  left: 20%;
  right: 50%;
  top: 10%;
}

input.Input {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  right: 20%;
}

p.terms {
  font-size: 11px;
  color: black;
  text-align: center;
  position: relative;
  float: left;
}

label.Label {
  font-weight: 800;
  color: #00324d;
  position: relative;
  right: 20%;
  font-size: 15px;
}

div.termsContainer {
  position: relative;
  text-align: center;
  right: 20;
  left: 0;
  display: inline-block;
  bottom: 9%;
  color: rgba(225, 243, 255, 0.6);
  margin: 10% auto;
  padding: 3px 10px 15px 3px;
  overflow: hidden;
}

div.container {
  margin: auto;
  padding: 20px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30%;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 0px grey;
  height: 70%;
  overflow: hidden;
}

button.support {
  background-color: lightskyblue; /* Green */
  border: none;
  color: red;
  text-decoration: none;
  font-size: 8px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 20px 100% 50px;
  border-radius: 15px 15px 10px 10px;
  margin-top: 45.5%;
  position: relative;
  font-weight: 400;
  text-align: left;
  margin-left: 86%;

  font-family: Arial, Helvetica, sans-serif;
}

button.support:hover {
  background-color: lightsteelblue;
}

h1.heading {
  text-align: center;
  margin-top: 90px;
  position: relative;
  font-weight: 800;
  font-family: sans-serif;
  color: #00324d;
  font-size: 28px;
}

span.h1heading {
  color: lightseagreen;
}

p.placeholder {
  vertical-align: 20px;
  font-size: 28px;
  font-weight: 700;
  color: #00324d;
  align-items: center;
  justify-content: center;
  margin: 0 0 1em 0;
  float: left;
}

div.chatContainer {
}

input.loginInput {
  width: 600px;
  margin-left: 82px;
  color: #00324d;
  border-width: 2px;
}

input.loginInput:focus {
  background-color: #00324d;
  color: white;
}

div.termsContainer {
  position: relative;
  color: Black;
  text-align: justify;
  padding: 0.3% 5% 5%;
  background-color: rgba(225, 243, 255, 0.6);
  border-radius: 15px;
  bottom: 2%;
  font-size: 11px;
}
span.info {
  position: relative;
  font-weight: 700;
  text-align: center;
  font-size: 11px;
}

input.passwordInput {
  width: 600px;
  margin-left: 30px;
  color: #00324d;
  border-width: 2px;
}

input.passwordInput:focus {
  background-color: #00324d;
  color: white;
}
