div.class {
  background: white;
  min-height: 100vw;
  min-width: 100vw;
  position: absolute;
}
div.fullContainer {
  position: relative;
  margin: auto;
  right: 70px;

}
div.mailIcon {
  right: 135px;
  position: absolute;
}
h2.papertext {
  position: relative;
  bottom: 3px;
  font-size: 1.4rem;
  float: right;
  right: 100px;
  color: #2e3b55;
}
h2.papertext2 {
  position: relative;
  bottom: 3px;
  font-size: 1.4rem;
  float: right;
  right: 14px;
  color: #2e3b55;
}
h2.papertext3 {
  position: relative;
  bottom: 3px;
  font-size: 1.4rem;
  float: right;
  right: 45px;
  color: #2e3b55;
}
.clientsHeading {
  position: absolute;
  float: left;
  top: 10vh;
  left: 20.6vw;
  color: #2e3b55;
}
div.clientsData {
  position: absolute;
  top: 20vh;
  left: 20.2vw;
  color: black;
  width: 100%;
  margin: auto;
}

div.clientsData2 {
  position: absolute;
  top: 19%;
  right: 10px;
  color: black;
  width: 100%;
}

div.Pagination {
  position: relative;
  top: 410px;
  float: right;
}

.root {
  width: 25.2vw;
}
