div.class {
  background: white;
  min-height: 100vw;
  min-width: 100vw;
  position: absolute;
}
div.fullContainer {
  position: relative;
  left: 100px;
}
div.mailIcon {
  right: 135px;
  position: absolute;
}

label {
  font-weight: 800;
  color: #001b3a;
  position: relative;
  left: 70px;
  font-size: 15px;
}
div.findContainer {
  top: 20px;
  position: relative;
  right: 35px;
}

input {
  width: 34%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 8%;
  top: 4%;
  border-color: blue;
}

select {
  width: 19.7%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 8%;
  top: 4%;
  border-color: blue;
}

h3.totalClients {
  position: relative;
  bottom: 25px;
  font-size: 1.8rem;
  float: right;
  right: 220px;
  color: #2e3b55;
}
h3.totalUniversityClients {
  position: relative;
  bottom: 25px;
  font-size: 1.8rem;
  float: right;
  right: 220px;
  color: #2e3b55;
}
h3.totalSchoolClients {
  position: relative;
  bottom: 25px;
  font-size: 1.8rem;
  float: right;
  right: 220px;
  color: #2e3b55;
}

h2.papertext {
  position: relative;
  top: 10px;
  font-size: 2rem;
  float: right;
  right: 185px;
  color: #2e3b55;
}
h2.papertext2 {
  position: relative;
  top: 10px;
  font-size: 2rem;
  right: 138px;
  float: right;
  color: #2e3b55;
}
h2.papertext3 {
  position: relative;
  top: 10px;
  font-size: 2rem;
  float: right;
  right: 180px;
  color: #2e3b55;
}
.clientsHeading {
  position: absolute;
  top: 12vh;
  left: 24.6vh;
  color: #2e3b55;
}
div.clientsData {
  position: absolute;
  top: 22vh;
  left: 12.2vw;
  color: black;
  width: 100%;
  margin: auto;
}

div.clientsData2 {
  position: absolute;
  top: 21%;
  left: 17.8vw;
  color: black;
  width: 100%;
}

div.Pagination {
  position: relative;
  top: 410px;
  float: right;
}

// this is for my mac
@media screen and (max-width: 1440px) {
  div.class {
    background: white;
    min-height: 100vw;
    min-width: 100vw;
    position: absolute;
  }

  h3.totalClients {
    position: relative;
    bottom: 25px;
    font-size: 1.8rem;
    float: right;
    right: 150px;
    color: #2e3b55;
  }
  h3.totalUniversityClients {
    position: relative;
    bottom: 25px;
    font-size: 1.8rem;
    float: right;
    right: 150px;
    color: #2e3b55;
  }
  h3.totalSchoolClients {
    position: relative;
    bottom: 25px;
    font-size: 1.8rem;
    float: right;
    right: 150px;
    color: #2e3b55;
  }

  div.fullContainer {
    position: relative;
    left: 100px;
  }
  div.mailIcon {
    right: 135px;
    position: absolute;
  }
  h2.papertext {
    position: relative;
    top: 10px;
    font-size: 2rem;
    float: right;
    right: 59px;
    color: #2e3b55;
  }
  h2.papertext2 {
    position: relative;
    top: 10px;
    font-size: 2rem;
    right: 12px;
    color: #2e3b55;
    display: inline-block;
  }
  h2.papertext3 {
    position: relative;
    top: 10px;
    font-size: 2rem;
    float: right;
    right: 55px;
    color: #2e3b55;
  }
  .clientsHeading {
    position: absolute;
    top: 12vh;
    left: 24.6vh;
    color: #2e3b55;
  }
  div.clientsData {
    position: absolute;
    top: 22vh;
    left: 13.9vw;
    color: black;
    width: 100%;
    margin: auto;
  }

  div.clientsData2 {
    position: absolute;
    top: 26%;
    left: 20.8vw;
    color: black;
    width: 100%;
  }

  div.Pagination {
    position: relative;
    top: 410px;
    float: right;
  }
}
