h1.heading {
  top: 2vh;
  position: relative;
  font-weight: 700;
  font-size: 40px;
  color: whitesmoke;
  left: 1vh;
}

div.leftside {
  float: left;
  position: relative;
  top: 3px;
}

div.type {
  position: relative;
  margin-top: -7vh;
  float: left;
}

div.ArchivedCheckbox {
  position: relative;
  color: whitesmoke;
  top: 0.3vh;
  left: 9vw;
  display: block;
  float: right;
}

table.clientsTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #00324d;
  background-color: whitesmoke;
  font-weight: 600;
  font-size: 14px;
}
th.clientsTable {
  border: 1px solid black;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}

td.clientsTable {
  border: 1px solid black;
  padding: 8px;
}
thead.clientsTable {
  border: 1px solid black;
  padding: 8px;
}

tr.clientsTable:nth-child(even) {
  background-color: whitesmoke;
}

tr.clientsTable:hover {
  background-color: #ddd;
}

thead.clientsTable {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: whitesmoke;
  color: white;
}

label.activetickbox {
  position: relative;
  font-size: large;
  font-weight: 700;
  margin-right: 10px;
}

input.activetickbox {
  position: relative;
  font-weight: 700;
  margin-right: 30px;
}

div.queryContainer {
  position: relative;
  top: 10vh;
  display: block;
}

button.newClientBtn {
  position: relative;
  background-color: whitesmoke;
  border: none;
  color: #00324d;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  right: 1vh;
  width: 160px;
  display: block;
  float: right;
  bottom: 4vh;
}

button.newClientBtn:hover {
  background-color: yellowgreen;
  color: white;
}

button.searchBtn {
  position: relative;
  background-color: whitesmoke;
  border: none;
  color: #00324d;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  left: 7vh;
  width: 140px;
  display: block;
  top: 2vh;
}

button.searchBtn:hover {
  background-color: yellowgreen;
  color: white;
}

button.clearBtn {
  position: relative;
  background-color: whitesmoke;
  border: none;
  color: #00324d;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 4px 2px;
  width: 140px;
  transition-duration: 0.4s;
  left: 12vw;
  cursor: pointer;
  display: block;
  bottom: 2.1vh;
}
button.clearBtn:hover {
  background-color: yellowgreen;
  color: white;
}

input.countryInput {
  width: 30vh;
  left: 10px;
  color: #00324d;
  position: relative;
  top: 5px;
}

p.Active {
  font-size: large;
  color: white;
  left: 9px;
  top: 20px;
  position: relative;
  font-weight: 700;
  float: left;
}

div.ActiveCheckbox {
  position: relative;
  color: whitesmoke;
  top: 23px;
  left: 40px;
}

div.find {
  position: relative;
  margin-top: -2rem;
}

div.rightside {
  float: right;
  top: 3px;
  position: relative;
}

label.findLabel {
  float: left;
  margin-right: 2vw;
  right: -1vh;
  font-size: large;
  font-weight: 700;
  color: whitesmoke;
  margin-top: 9vh;
  position: relative;
}

input.findInput {
  width: 30vh;
  margin-top: 9vh;
  color: #00324d;
  position: relative;
}

div.name {
  position: relative;
  top: 20px;
}
div.Country {
  position: relative;
  margin-top: 50px;
}

label.typeLabel {
  float: left;
  margin-right: 2vw;
  right: -1vh;
  font-size: large;
  font-weight: 700;
  color: whitesmoke;
  margin-top: 9vh;
  position: relative;
  display: block;
}

select.typeInput {
  width: 30vh;
  margin-top: 9vh;
  color: #00324d;
  position: relative;
}

div.ArchivedContainer {
  position: relative;
  float: right;
  right: 17.3vw;
  top: 7vh;
  display: block;
}

div.ActiveContainer {
  top: 30px;
  position: relative;
}

label.archivedtickbox {
  position: relative;
  font-size: large;
  font-weight: 700;
  right: 2vh;
}

input.archivedtickbox {
  position: relative;
  font-weight: 700;
  margin-right: 4vh;
}

p.Archived {
  font-size: large;
  color: white;
  position: absolute;
  font-weight: 700;
  left: -1.5vw;
  float: left;
}

div.calender {
  position: relative;
  top: 3vh;
  right: 0.3vh;
  float: left;
}

input.dateTo {
  position: relative;
  bottom: 3px;
  width: 10vh;
  float: left;
  left: 30px;
}

input.dateFrom {
  position: relative;
  bottom: 3px;
  float: left;
  width: 10vh;
  left: 14px;
}

label.countryLabel {
  font-size: large;
  color: white;
  font-weight: 700;
  position: relative;
  top: 5px;
}

label.nameLabel {
  font-size: large;
  color: white;
  font-weight: 700;
  position: relative;
  top: 23px;
  float: left;
}

input.nameInput {
  width: 30vh;
  top: 24px;
  left: 27px;
  color: #00324d;
  position: relative;
}

p.dateCreated {
  font-size: large;
  color: white;
  font-weight: 700;
  position: relative;
  bottom: 0.5vh;
  float: left;
  left: 0.4vh;
}
