h1.heading {
  top: 2vh;
  position: relative;
  font-weight: 700;
  font-size: 40px;
  color: whitesmoke;
}

div.leftside {
  float: left;
}

div.type {
  position: relative;
  margin-top: 10px;
  float: left;
}

div.ArchivedContainer {
  position: relative;
  color: whitesmoke;
  margin-left: 2px;
  margin-top: -90px;
  float: left;
}

label.space {
  position: relative;
  font-size: large;
  margin-right: 3vh;
  top: -39px;
  bottom: 0;
  font-weight: 700;
}

input.space {
  position: relative;
  margin-right: 3vh;
  font-weight: 700;
  top: -39px;
}

div.find {
  position: fixed;
  margin-top: -2rem;
}

div.rightside {
  float: right;
}

label.findLabel {
  float: left;
  margin-right: 2vw;
  right: -1vh;
  font-size: large;
  font-weight: 700;
  color: whitesmoke;
  margin-top: 9vh;
  position: relative;
}

input.findInput {
  width: 30vh;
  margin-top: 9vh;
  color: #00324d;
  position: relative;
}

label.typeLabel {
  float: left;
  margin-right: 2vw;
  right: -1vh;
  font-size: large;
  font-weight: 700;
  color: whitesmoke;
  margin-top: 9vh;
  position: relative;
}

select.typeInput {
  width: 30vh;
  margin-top: 9vh;
  color: #00324d;
  position: relative;
}

div.ArchivedContainer {
  position: relative;
  float: left;
  margin-top: -9vh;
  margin-left: 0.2vh;
  margin-right: 3vh;
}

p.Archived {
  font-size: large;
  color: white;
  margin-left: -7.5vw;
  margin-top: 14vh;
  position: fixed;
  font-weight: 700;
  float: left;
}

div.calender {
  position: relative;
  margin-top: 23px;
}

input.dateTo {
  position: relative;
  margin-top: 20px;
  margin-left: 3vw;
  width: 10vh;
  float: left;
}

input.dateFrom {
  position: relative;
  margin-top: 20px;
  margin-left: 3vw;
  float: left;
  width: 10vh;
}

p.dateCreated {
  font-size: large;
  color: white;
  font-weight: 700;
  position: relative;
  margin-top: 20px;
  margin-left: 1vh;
  float: left;
}
