h1.heading {
  top: 2vh;
  position: relative;
  font-weight: 700;
  font-size: 40px;
  color: whitesmoke;
  left: 1vh;
}

div.leftside {
  float: left;

  position: relative;
  top: 3px;
}

div.type {
  position: relative;
  margin-top: 10px;
  float: left;
}

div.ArchivedCheckbox {
  position: relative;
  color: whitesmoke;
  top: 10px;
  left: 1000px;
  float: right;
}

label.archivedtickbox {
  position: relative;
  font-size: large;
  font-weight: 700;
  margin-right: 10px;
}

input.archivedtickbox {
  position: relative;
  font-weight: 700;
  margin-right: 30px;
}

input.countryInput {
  width: 30vh;
  left: 10px;
  color: #00324d;
  position: relative;
  top: 5px;
}

p.Active {
  font-size: large;
  color: white;
  left: 9px;
  top: 20px;
  position: relative;
  font-weight: 700;
  float: left;
}

div.ActiveCheckbox {
  position: relative;
  color: whitesmoke;
  top: 23px;
  left: 40px;
}

div.find {
  position: fixed;
  margin-top: -2rem;
}

div.rightside {
  float: right;
  top: 3px;
  position: relative;
}

label.findLabel {
  float: left;
  margin-right: 2vw;
  right: -1vh;
  font-size: large;
  font-weight: 700;
  color: whitesmoke;
  margin-top: 9vh;
  position: relative;
}

input.findInput {
  width: 30vh;
  margin-top: 9vh;
  color: #00324d;
  position: relative;
}

div.name {
  position: relative;
  top: 20px;
}
div.Country {
  position: relative;
  margin-top: 50px;
}

label.typeLabel {
  float: left;
  margin-right: 2vw;
  right: -1vh;
  font-size: large;
  font-weight: 700;
  color: whitesmoke;
  margin-top: 9vh;
  position: relative;
}

select.typeInput {
  width: 30vh;
  margin-top: 9vh;
  color: #00324d;
  position: relative;
}

div.ArchivedContainer {
  position: relative;
  bottom: 100px;
  right: 1400px;
}

div.ActiveContainer {
  top: 30px;
  position: relative;
}

p.Archived {
  font-size: large;
  color: white;
  right: -898px;
  top: 130px;
  position: relative;
  font-weight: 700;
  float: right;
}

div.calender {
  position: relative;
  margin-top: 23px;
  margin-right: 39vh;
}

input.dateTo {
  position: relative;
  bottom: 3px;
  width: 10vh;
  float: left;
  left: 30px;
}

input.dateFrom {
  position: relative;
  bottom: 3px;
  float: left;
  width: 10vh;
  left: 14px;
}

label.countryLabel {
  font-size: large;
  color: white;
  font-weight: 700;
  position: relative;
  top: 5px;
}

label.nameLabel {
  font-size: large;
  color: white;
  font-weight: 700;
  position: relative;
  top: 23px;
  float: left;
}

input.nameInput {
  width: 30vh;
  top: 24px;
  left: 27px;
  color: #00324d;
  position: relative;
}

p.dateCreated {
  font-size: large;
  color: white;
  font-weight: 700;
  position: relative;
  bottom: 4px;
  float: left;
}
