div.class {
  background: white;
  min-height: 100vw;
  min-width: 100vw;
  position: absolute;
}

div.mailIcon {
  right: 135px;
  position: absolute;
}
h2.papertext {
  position: relative;
  bottom: 3px;
  font-size: 1.4rem;
  float: right;
  right: 100px;
  color: #2e3b55;
}
h2.papertext2 {
  position: relative;
  bottom: 3px;
  font-size: 1.4rem;
  float: right;
  right: 14px;
  color: #2e3b55;
}
h2.papertext3 {
  position: relative;
  bottom: 3px;
  font-size: 1.4rem;
  float: right;
  right: 45px;
  color: #2e3b55;
}
.clientsHeading {
  position: absolute;
  float: left;
  top: 90px;
  left: 280px;
  color: #2e3b55;
}
.clientsData {
  position: absolute;

  top: 130px;
  left: 285px;
  width: 100%;
  color: black;
}

div.Pagination {
  position: relative;
  top: 410px;
  float: right;
}
