p.supportText {
  display: inline;
  position: relative;
  bottom: 10px;
  color: #00324d;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  
}

button.support {
  background-color: lightblue; /* Green */
  border: none;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 3px 2px 1px grey;
  padding: 1% 4% 1% 4%;
  margin-top: 49%;
  position: fixed;
  border-radius: 25px 25px 2px 2px;
  font-weight: 400;
  text-align: left;
  margin-left: 75%;
  font-weight: 500;
  bottom: 0.2%;
  height: 40px;
  width: 250px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.support:hover {
  background-color: lightcoral;
}

div.formContainer {
  background-color: white; /* Green */
  border: none;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 3px 2px 1px grey;
  padding: 1% 4% 1% 4%;
  margin-top: 49%;
  position: fixed;
  border-radius: 25px 25px 2px 2px;
  font-weight: 400;
  text-align: left;
  margin-left: 75%;
  font-weight: 500;
  bottom: 0.2%;
  width: 261px;
  height: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: none 0s, ease 4s !important;
  transition-property: none !important;
  transition-duration: 2s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
  box-sizing: border-box;
}

div.headingFormContainer {
  width: 261px;
  position: relative;
  background-color: lightblue;
  height: 80px;
  bottom: 20px;
  padding: 1% 4% 1% 4%;
  border-radius: 25px 25px 2px 2px;
  right: 76px;
  text-align: center;
}

h2.contact  {
  top: 20px;
  position:relative;
  color: #00324d;
}
