p.supportText {
  position: relative;
  bottom: 10px;
  color: black;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

div.contactDetails {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.name {
  position: relative;
}


div.institutionName {
  float: left;
  left: 10px;
  top: 190px;
  position: absolute;
  white-space: nowrap;
}

div.emailForm {
  float: left;
  left: 10px;
  top: 250px;
  position: absolute;
  white-space: nowrap;
}

div.testCode {
  float: left;
  left: 10px;
  top: 310px;
  position: absolute;
  white-space: nowrap;
  
}

input.nameInput {
  width: 170px;
  height: 25px;
  left: 115px;
  position: absolute;
  padding: 0.4px 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input.institutionInput {
  width: 170px;
  left: 115px;
  position: absolute;
  padding: 0.4px 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.emailInput {
  width: 168px;
  padding: 0.4px 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  left: 115px;
  position: absolute;
}
input.testCodeInput {
  width: 168px;
  left: 115px;
  position: absolute;
  padding: 0.4px 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

div.submitButton {
  position: absolute;
  top: 400px;
  right: 80px;
}


button.support {
  background-color: #00FA9A; /* Green */
  border: none;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 3px 2px 1px grey;
  padding: 1% 4% 1% 4%;
  margin-top: 49%;
  position: fixed;
  border-radius: 25px 25px 2px 2px;
  font-weight: 400;
  text-align: left;
  margin-left: 75%;
  font-weight: 500;
  bottom: 0.2%;
  height: 40px;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.support:hover {
  background-color: orange;
}

div.formContainer {
  background-color: white; /* Green */
  border-top: 200px gold;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px black;
  padding: 1% 4% 1% 4%;
  margin-top: 49%;
  position: fixed;
  border-radius: 25px 25px 2px 2px;
  font-weight: 400;
  text-align: left;
  margin-left: 75%;
  font-weight: 500;
  bottom: 0.2%;
  width: 300px;
  height: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: none 0s, ease 4s !important;
  transition-property: none !important;
  transition-duration: 2s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
  box-sizing: border-box;
}

div.headingFormContainer {
  width: 300px;
  position: absolute;
  background-color: #00FA9A;
  height: 70px;
  bottom: 435px;
  padding: 1% 4% 1% 4%;
  border-radius: 25px 25px 2px 2px;

  right: 0.4px;
  text-align: center;
  box-shadow: 1px 1px 1px 1px black;
}

h2.contact {
  top: 20px;
  position: relative;
  color: black;
}
