p.supportText {
  position: relative;
  bottom: 10px;
  color: black;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

div.formInput {
  position: relative;
  right: 10px;
}

label.Label {
  font-weight: 800;
  color: Black;
  position: relative;
  right: 20%;
  font-size: 15px;
  display: flex;
  width: 140px;
  text-align: right;
  flex-basis: 100px;
}

input.Input {
  width: 100%;
  flex-basis: 100px;
  margin: 8px 0;
  display: flex;
  flex-wrap: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  float: left;
}

button.support {
  background-color: lightgreen; /* Green */
  border: none;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 3px 2px 1px grey;
  padding: 1% 4% 1% 4%;
  margin-top: 49%;
  position: fixed;
  border-radius: 25px 25px 2px 2px;
  font-weight: 400;
  text-align: left;
  margin-left: 75%;
  font-weight: 500;
  bottom: 0.2%;
  height: 40px;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.support:hover {
  background-color: lightgreen;
}

div.formContainer {
  background-color: lavenderblush; /* Green */
  border-top: 200px gold;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px black;
  padding: 1% 4% 1% 4%;
  margin-top: 49%;
  position: fixed;
  border-radius: 25px 25px 2px 2px;
  font-weight: 400;
  text-align: left;
  margin-left: 75%;
  font-weight: 500;
  bottom: 0.2%;
  width: 300px;
  height: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: none 0s, ease 4s !important;
  transition-property: none !important;
  transition-duration: 2s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
  box-sizing: border-box;
}

div.headingFormContainer {
  width: 300px;
  position: absolute;
  background-color: lightgreen;
  height: 70px;
  bottom: 435px;
  padding: 1% 4% 1% 4%;
  border-radius: 25px 25px 2px 2px;

  right: 0.4px;
  text-align: center;
  box-shadow: 1px 1px 1px 1px black;
}

h2.contact {
  top: 20px;
  position: relative;
  color: black;
}
