div.container {
  position: fixed;
  bottom: 0;
  background-color:  whitesmoke;
  left: 0;
  right: 0;
  height: 2.5vh;
  color: black;
} 

p.license {
    margin-top:  0.2vw;
    bottom: 0;
    text-align: justify;
    font-size: 15px;
    color:  #00324d;
}
span.log {
  font-weight: 800;
}