div.container {
  background-color: whitesmoke;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.5vh;
  color: black;
  margin-top: 20px;
  display: block;
  width: 100%;
}

p.license {
  top: 3vh;
  bottom: 1;
  text-align: justify;
  font-size: 17px;
  color: #00324d;
}
span.log {
  font-weight: 800;
}
