div.container {
  position: fixed;
  bottom: 0;
  background-color:  #00324d;
  left: 0;
  right: 0;
  height: 30px;
  color: white;
} 

p.license {
    margin-top:  20%;
    bottom: 0;
    text-align: justify;
    font-size: 15px;
}