@media only screen {
  label.space {
    margin-right: 8px;
    font-size: large;
    color: #00324d;
  }

  body {
    background-color: whitesmoke;
  }

  input.space {
    margin-right: 20px;
  }

  div.container {
    position: absolute;
    left: 1000px;
    right: 0px;
    bottom: 0px;
    top: 200px;
    font-weight: 700;
    float: left;
  }

  div.line {
    line-height: 9;
  }

  div.checkbox {
    position: absolute;
    top: 5px;
  }

  h1.heading {
    top: 30px;
    position: relative;
    font-weight: 700;
    font-size: 40px;
    color: #00324d;
  }

  div.container2 {
    position: absolute;
    left: 0;
    right: 20;
    bottom: 0;
    top: 200px;
    float: right;
  }

  p.archived {
    float: left;
    margin-left: -200px;
    font-size: large;
    font-weight: 700;
    text-align: justify;

    color: #00324d;
  }

  label.space3 {
    float: left;
    margin-right: 30px;
    font-size: large;
    font-weight: 700;
    color: #00324d;
  }

  input.search {
    width: 300px;
    margin-left: 40%;
    top: 30vw;
    color: #00324d;
  }

  .btn {
    position: absolute;
    background-color: red;
    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    right: 30px;
    top: 10px;
    appearance: none;
  }

  .btn:hover {
    background-color: yellowgreen;
    color: white;
  }
}
