.t {
  position: relative;
  background-color: whitesmoke;
  color: #00324d;
  top: 0.2vh;
  padding: 1rem 1rem;
  margin: 0.2vh;
  text-align: center;
  display: inline-block;
  border: none;
  border-color: red;
  width: 11vw;
  font-weight: 500;

  cursor: pointer;
  /* Green */
}
.t:hover {
  background-color: #008cba;
  color: white;
  transition-duration: 0.4s;
}
