.t {
  position: relative;
  background-color: whitesmoke;
  color: #00324d;
  top: 10%;
  padding: 8px 8px;
  margin: 0.1%;
  text-align: center;
  display: inline-block;
  border: none;
  border-color: red;
  width: 12%;
  font-weight: 500;
  font-size: 14px;

  cursor: pointer;
  /* Green */
}
.t:hover {
  background-color: #008cba;
  color: white;
  transition-duration: 0.4s;
}
