.t {
  position: relative;
  background-color: whitesmoke;
  color: #00324d;
  top: 10%;
  padding: em 0.3em;
  margin: 0.1%;
  text-align: center;
  display: inline-block;
  border: none;
  border-color: red;
  width: 10%;
  font-weight: 500;
  font-size: 12px;

  cursor: pointer;
  /* Green */
}
.t:hover {
  background-color: #008cba;
  color: white;
  transition-duration: 0.4s;
}
