.t {
  position: relative;
  background-color: #00324d;
  color: white;
  top: 2rem;
  padding: 10px 20px;
  margin: 1px ;
  text-align: center;
  display: inline-block;
  border: none;
  width: 16rem;
  font-weight: 400;

  cursor: pointer;
  /* Green */
}
.t:hover {
  background-color: #008cba;
  color: white;
  transition-duration: 0.4s;

}