.t {
  position: relative;
  background-color: whitesmoke;
  color:  #00324d;
  top: 1rem;
  padding: 10px 10px;
  margin: 1px;
  text-align: center;
  display: inline-block;
  border: none;
  width: 16rem;
  font-weight: 500;

  cursor: pointer;
  /* Green */
}
.t:hover {
  background-color: #008cba;
  color: white;
  transition-duration: 0.4s;
}
