div.background {
  background-color: #f2f2f2;
  min-height: 100vw;
  min-width: 100vw;
  position: absolute;
}
div.contactFormContainer {
  position: absolute;
  left: 300px;
  top: 160px;
}
div.HeadingContainer {
  position: absolute;
  top: 100px;
  left: 305px;
}
h1.Heading {
  color: "black";
  font-size: "70px";
}

div.container {
  position: absolute;
  top: 140px;
  left: 300px;
  color: #2e3b55;
}

.formBtn {
  display: flex;
  position: relative;
  top: 20px;
  float: right;
  right: 35%;
}
div.btn {
  position: relative;
  top: 30px;
  left: 340px;
  display: flex;
}
