div.background {
  height: 100vw;
  width: 100vw;
  background: rgb(246, 249, 255);
}
div.contactFormContainer {
  position: absolute;
  left: 300px;
  top: 180px;
}
div.HeadingContainer {
  position: absolute;
  top: 100px;
  left: 305px;
}
h1.Heading {
  color: "black";
  font-size: "70px";
}

div.container {
  position: absolute;
  top: 140px;
  left: 300px;
  color: #2e3b55;
}

.formBtn {
  display: flex;
  position: relative;
  top: 20px;
  float: right;
  right: 35%;
}
