div.background {
  min-height: 100vw;
  min-width: 100vw;
  background-color: white;
}
div.contactFormContainer {
  position: absolute;
  left: 300px;
  top: 180px;
}
div.Heading {
  position: absolute;
  top: 100px;
  left: 305px;
  color: #2e3b55;
}

div.container {
  position: absolute;
  top: 140px;
  left: 300px;
  color: #2e3b55;
}

.formBtn {
  display: flex;
  position: relative;
  top: 20px;
  float: right;
  right: 35%;
}
