div.class {
  background: white;
  min-height: 100vw;
  min-width: 100vw;
  position: absolute;
}

div.mailIcon {
  right: 135px;
  position: absolute;
}

.addBtn {
  left: 2px;
  position: absolute;

  white-space: nowrap;
  text-align: center;
}

div.clientsDatabase {
  position: absolute;
  top: 35.4%;
  left: 17.8vw;
  color: black;
  width: 100%;
}

div.labelFind {
  font-weight: 300;
  position: relative;
  left: 35px;
  font-size: 15px;
  color: #2e3b55;
  top: 50px;
}

div.labelCountry {
  font-weight: 300;
  position: relative;
  left: 14px;
  font-size: 15px;
  color: #2e3b55;
  top: 50px;
}
div.labelArchived {
  font-weight: 300;
  position: relative;
  left: 14px;
  font-size: 15px;
  color: #2e3b55;
  top: 50px;
}

div.labelType {
  font-weight: 300;
  position: relative;
  left: 14px;
  font-size: 15px;
  color: #2e3b55;
  top: 50px;
}

div.inputFind {
  position: relative;
  left: 90px;
  width: 300px;
  top: 26px;
}

div.Calender {
  position: relative;
  left: 600px;
  bottom: 170px;
}

div.inputCountry {
  position: relative;
  left: 90px;
  width: 300px;
  top: 26px;
}
div.inputName {
  position: relative;
  left: 90px;
  width: 300px;
  top: 26px;
}

input {
  width: 100%;
  padding: 6px 10px;
  display: inline-block;
  border: 1px solid #3c1361;
  border-radius: 4px;
  box-sizing: border-box;
}

div.Archived {
  position: relative;
  bottom: 20px;
}

div.btn {
  position: relative;
  bottom: 50px;
  left: 740px;
  display: flex;
}

.searchBtn {
  left: 30px;
  position: relative;
}
.clearBtn {
  left: 18px;
  position: relative;
}

div.labelName {
  font-weight: 300;
  position: relative;
  left: 35px;
  font-size: 15px;
  color: #2e3b55;
  top: 50px;
}

div.labelActive {
  font-weight: 300;
  position: relative;
  left: 35px;
  font-size: 15px;
  color: #2e3b55;
  top: 50px;
}
div.rightContainer {
  float: right;
  position: relative;
  right: 679px;
  bottom: 164px;
}

select {
  width: 300px;
  padding: 6px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 90px;
  top: 17px;
  border-color: #3c1361;
}

h3.totalClients {
  position: relative;
  top: 80px;
  font-size: 1.8rem;
  float: right;
  right: 12px;

  color: #2e3b55;
}
h3.totalUniversityClients {
  position: relative;
  bottom: 25px;
  font-size: 1.8rem;
  float: right;
  right: 55px;
  color: #2e3b55;
}
h3.totalSchoolClients {
  position: relative;
  bottom: 25px;
  font-size: 1.8rem;
  float: right;
  right: 220px;
  color: #2e3b55;
}

h2.papertext {
  position: relative;
  top: 10px;
  font-size: 3rem;
  float: right;
  right: 185px;
  font-weight: 300;
  color: #2e3b55;
}
h2.papertext2 {
  position: relative;
  top: 10px;
  font-size: 3rem;
  right: 138px;
  float: right;
  font-weight: 300;
  color: #2e3b55;
}
h2.papertext3 {
  position: relative;
  top: 10px;
  font-size: 3rem;
  float: right;
  font-weight: 300;
  right: 180px;
  color: #2e3b55;
}
.clientsHeading {
  position: absolute;
  top: 12vh;
  left: 34.6vh;
  color: #2e3b55;
  font-weight: 300;
}
div.clientsData {
  position: absolute;
  top: 22vh;
  left: 17.4vw;
  color: black;
  width: 100%;
  margin: auto;
}

div.clientsData2 {
  position: absolute;
  top: 21%;
  left: 17.8vw;
  color: black;
  width: 100%;
}

div.Pagination {
  position: relative;
  top: 20px;
  float: right;
  right: 12px;
}

// this is for my mac
@media screen and (max-width: 1440px) {
  div.class {
    background: white;
    min-height: 100vw;
    min-width: 100vw;
    position: absolute;
  }

  .searchBtn {
    left: 30px;
    position: relative;
  }
  .clearBtn {
    left: 25px;
    position: relative;
  }

  div.btn {
    position: relative;
    bottom: 68px;
    left: 420px;
    display: flex;
  }

  div.clientsDatabase {
    position: absolute;
    top: 41.6%;
    left: 21vw;
    color: black;
    width: 100%;
  }

  div.Calender {
    position: relative;
    left: 400px;
    bottom: 170px;
  }

  div.inputCountry {
    position: relative;
    left: 90px;
    width: 240px;
    top: 26px;
  }

  h3.totalClients {
    position: relative;
    bottom: 25px;
    font-size: 1.2rem;
    float: right;
    left: 20px;
    color: #2e3b55;
    font-weight: 300;
  }
  h3.totalUniversityClients {
    position: relative;
    top: 17px;
    font-size: 1.2rem;
    float: right;
    left: 45px;
    font-weight: 300;
    color: #2e3b55;
  }
  h3.totalSchoolClients {
    position: relative;
    top: 80px;
    font-size: 1.2rem;
    float: right;
    left: 40px;
    color: #2e3b55;
    font-weight: 300;
  }

  div.mailIcon {
    right: 135px;
    position: absolute;
  }
  h2.papertext {
    position: relative;
    top: 10px;
    font-size: 3rem;
    float: right;
    right: 95px;
    color: #2e3b55;
    font-weight: 300;
  }
  h2.papertext2 {
    position: relative;
    top: 10px;
    font-weight: 300;
    font-size: 3rem;
    right: 95px;
    color: #2e3b55;
    display: inline-block;
  }
  h2.papertext3 {
    position: relative;
    top: 10px;
    font-weight: 300;
    font-size: 3rem;
    float: right;
    right: 95px;
    color: #2e3b55;
  }
  .clientsHeading {
    position: absolute;
    top: 12vh;
    left: 21%;
    color: #2e3b55;
    font-weight: 300;
  }
  div.clientsData {
    position: absolute;
    top: 12%;
    left: 20.9vw;
    color: black;
    width: 100%;
    margin: auto;
  }

  div.clientsData2 {
    position: absolute;
    top: 24%;
    left: 21vw;
    color: black;
    width: 100%;
  }

  div.Pagination {
    position: relative;
    top: 8px;
    float: right;
    right: 1px;
  }

  label.nameLabel {
    font-weight: 300;
    position: relative;
    left: 70px;
    font-size: 15px;
    color: #2e3b55;
    top: 4px;
  }
  div.nameInput {
    position: relative;
    left: 20px;
  }

  div.labelFind {
    font-weight: 300;
    position: relative;
    left: 35px;
    font-size: 15px;
    color: #2e3b55;
    top: 50px;
  }
  div.labelActive {
    font-weight: 300;
    position: relative;
    left: 35px;
    font-size: 15px;
    color: #2e3b55;
    top: 50px;
  }

  div.labelName {
    font-weight: 300;
    position: relative;
    left: 35px;
    font-size: 15px;
    color: #2e3b55;
    top: 50px;
  }

  div.inputFind {
    position: relative;
    left: 90px;
    width: 240px;
    top: 26px;
  }
  div.inputName {
    position: relative;
    left: 90px;
    width: 240px;
    top: 26px;
  }
  div.findContainer {
    top: 40px;
    position: relative;
    right: 35px;
  }
  div.nameContainer {
    top: 40px;
    position: relative;
    right: 35px;
  }
  input.nameInput {
    position: relative;
    left: 105px;
  }

  input {
    width: 100%;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
  }

  div.leftContainer {
    position: relative;
    float: left;
  }
  div.rightContainer {
    float: right;
    position: relative;
    right: 420px;
    top: 2px;
  }

  select {
    width: 240px;
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    left: 90px;
    top: 17px;
    border-color: grey;
  }
}
